@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



.montserrat-med {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: rgb(5,223,114);
  border-radius: 10px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
  z-index: 19;
}

